
<div class="footer">

  <a href="https://fast-inlet-22851.herokuapp.com/" target="_blank" class="foot">klik hier voor mijn online app</a>

</div>




  <script src="/js/template.js"></script>
  </body>
</html>
